USE [Covid]
GO
/****** Object:  Table [dbo].[ContactoPaciente]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactoPaciente](
	[ContactoId] [int] IDENTITY(1,1) NOT NULL,
	[SeguimientoId] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Parentesco] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Sexo] [char](1) NULL,
	[Celular] [varchar](12) NULL,
	[Direccion] [varchar](100) NULL,
 CONSTRAINT [PK_ContactoPaciente] PRIMARY KEY CLUSTERED 
(
	[ContactoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuadroClinico]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuadroClinico](
	[CuadroClinicoId] [int] IDENTITY(1,1) NOT NULL,
	[HistoriaClinicaId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[TipoMonitoreo] [nvarchar](20) NULL,
	[FuncionesVitales] [xml] NULL,
	[SignosSintomas] [xml] NULL,
	[SintomasAlarma] [xml] NULL,
	[Evolucion] [nvarchar](100) NULL,
	[Observaciones] [nvarchar](100) NULL,
	[UsuarioId] [int] NULL,
 CONSTRAINT [PK_CuadroClinico] PRIMARY KEY CLUSTERED 
(
	[CuadroClinicoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[DistritoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[DistritoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoriaClinica]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriaClinica](
	[HistoriaClinicaId] [int] IDENTITY(1,1) NOT NULL,
	[PersonaId] [int] NULL,
 CONSTRAINT [PK_HistoriaClinica] PRIMARY KEY CLUSTERED 
(
	[HistoriaClinicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[PersonaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[DNI] [char](8) NULL,
	[NroCelular] [varchar](12) NULL,
	[Estado] [nvarchar](15) NULL,
	[UbicacionId] [int] NOT NULL,
	[FechaNacimiento] [datetime] NULL,
	[Sexo] [char](1) NULL,
	[TelefonoEmergencia] [varchar](12) NULL,
	[CorreoElectronico] [nvarchar](50) NULL,
	[CondicionDeRiesgo] [nvarchar](100) NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[PersonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[PruebaId] [int] IDENTITY(1,1) NOT NULL,
	[HistoriaClinicaId] [int] NULL,
	[FechaHoraRealizada] [datetime] NULL,
	[Resultado] [nvarchar](100) NULL,
	[Observacion] [nvarchar](100) NULL,
	[TipoMuestra] [nvarchar](50) NULL,
 CONSTRAINT [PK_Prueba] PRIMARY KEY CLUSTERED 
(
	[PruebaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[RecetaId] [int] IDENTITY(1,1) NOT NULL,
	[CuadroClinicoId] [int] NULL,
	[FechaEmision] [datetime] NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Receta] PRIMARY KEY CLUSTERED 
(
	[RecetaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimiento]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimiento](
	[SeguimientoId] [int] IDENTITY(1,1) NOT NULL,
	[HistoriaClinicaId] [int] NULL,
 CONSTRAINT [PK_Seguimiento] PRIMARY KEY CLUSTERED 
(
	[SeguimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[TipoId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](30) NULL,
 CONSTRAINT [PK_Tipo] PRIMARY KEY CLUSTERED 
(
	[TipoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[UbicacionId] [int] IDENTITY(1,1) NOT NULL,
	[Lat] [nvarchar](20) NULL,
	[Long] [nvarchar](20) NULL,
	[Calle] [nvarchar](50) NULL,
	[NroCasa] [int] NULL,
	[Referencia] [nvarchar](100) NULL,
	[DistritoId] [int] NULL,
 CONSTRAINT [PK_Ubicacion] PRIMARY KEY CLUSTERED 
(
	[UbicacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/11/2020 21:45:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[TipoId] [int] NOT NULL,
	[DNI] [char](8) NOT NULL,
	[NombreUsuario] [nvarchar](20) NOT NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](12) NOT NULL,
	[Especialidad] [nvarchar](20) NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactoPaciente] ON 

INSERT [dbo].[ContactoPaciente] ([ContactoId], [SeguimientoId], [Nombre], [Apellido], [Parentesco], [Edad], [Sexo], [Celular], [Direccion]) VALUES (1, 1, N'Juan', N'Vargas', N'Amigo(a)', 24, N'M', N'987654321', N'Jr Dos de Mayo #100')
INSERT [dbo].[ContactoPaciente] ([ContactoId], [SeguimientoId], [Nombre], [Apellido], [Parentesco], [Edad], [Sexo], [Celular], [Direccion]) VALUES (2, 1, N'Alejandro', N'Reyes', N'Padre', 55, N'M', N'985674321', N'Av. Atahualpa 755')
INSERT [dbo].[ContactoPaciente] ([ContactoId], [SeguimientoId], [Nombre], [Apellido], [Parentesco], [Edad], [Sexo], [Celular], [Direccion]) VALUES (3, 2, N'Juan', N'Ramirez', N'Padre', 50, N'M', N'987654321', N'Jr Dos de Mayo #100')
SET IDENTITY_INSERT [dbo].[ContactoPaciente] OFF
GO
SET IDENTITY_INSERT [dbo].[CuadroClinico] ON 

SET IDENTITY_INSERT [dbo].[CuadroClinico] OFF
GO
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([DistritoId], [Nombre]) VALUES (1, N'ASUNCIÓN')
INSERT [dbo].[Distrito] ([DistritoId], [Nombre]) VALUES (2, N'CAJAMARCA')
INSERT [dbo].[Distrito] ([DistritoId], [Nombre]) VALUES (3, N'CHETILLA')
SET IDENTITY_INSERT [dbo].[Distrito] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoriaClinica] ON 

INSERT [dbo].[HistoriaClinica] ([HistoriaClinicaId], [PersonaId]) VALUES (1, 3)
INSERT [dbo].[HistoriaClinica] ([HistoriaClinicaId], [PersonaId]) VALUES (2, 4)
INSERT [dbo].[HistoriaClinica] ([HistoriaClinicaId], [PersonaId]) VALUES (3, 5)
SET IDENTITY_INSERT [dbo].[HistoriaClinica] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([PersonaId], [Nombres], [Apellidos], [DNI], [NroCelular], [Estado], [UbicacionId], [FechaNacimiento], [Sexo], [TelefonoEmergencia], [CorreoElectronico], [CondicionDeRiesgo]) VALUES (1, N'Jorge', N'Cabrera Abanto', N'78542136', N'987654159', N'Positivo', 1, CAST(N'1999-09-17T00:00:00.000' AS DateTime), N'M', N'987456147', N'JorgeC@correo.com', N'Ninguna')
INSERT [dbo].[Persona] ([PersonaId], [Nombres], [Apellidos], [DNI], [NroCelular], [Estado], [UbicacionId], [FechaNacimiento], [Sexo], [TelefonoEmergencia], [CorreoElectronico], [CondicionDeRiesgo]) VALUES (2, N'Jorge', N'Cabrera Abanto', N'74785968', N'987654159', N'Positivo', 2, CAST(N'1999-09-17T00:00:00.000' AS DateTime), N'M', N'987456147', N'JorgeC@correo.com', N'Ninguna')
INSERT [dbo].[Persona] ([PersonaId], [Nombres], [Apellidos], [DNI], [NroCelular], [Estado], [UbicacionId], [FechaNacimiento], [Sexo], [TelefonoEmergencia], [CorreoElectronico], [CondicionDeRiesgo]) VALUES (3, N'Mariana', N'Terrones', N'72354810', N'941526378', N'Recuperado', 3, CAST(N'2020-09-17T00:00:00.000' AS DateTime), N'F', N'965412783', N'MarianaT@Correo.com', N'Desnutricion')
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Prueba] ON 

INSERT [dbo].[Prueba] ([PruebaId], [HistoriaClinicaId], [FechaHoraRealizada], [Resultado], [Observacion], [TipoMuestra]) VALUES (1, 1, CAST(N'2020-10-14T03:02:00.000' AS DateTime), N'Negativo', NULL, N'Molecular')
INSERT [dbo].[Prueba] ([PruebaId], [HistoriaClinicaId], [FechaHoraRealizada], [Resultado], [Observacion], [TipoMuestra]) VALUES (2, 4, CAST(N'2020-10-14T03:07:00.000' AS DateTime), N'Positivo', NULL, N'Molecular')
INSERT [dbo].[Prueba] ([PruebaId], [HistoriaClinicaId], [FechaHoraRealizada], [Resultado], [Observacion], [TipoMuestra]) VALUES (3, 19, CAST(N'2020-10-14T08:04:00.000' AS DateTime), N'Positivo', NULL, N'Rapida')
SET IDENTITY_INSERT [dbo].[Prueba] OFF
GO
SET IDENTITY_INSERT [dbo].[Receta] ON 

INSERT [dbo].[Receta] ([RecetaId], [CuadroClinicoId], [FechaEmision], [Descripcion]) VALUES (4, 1, CAST(N'2020-10-28T00:00:00.000' AS DateTime), N'Paracetamol')
INSERT [dbo].[Receta] ([RecetaId], [CuadroClinicoId], [FechaEmision], [Descripcion]) VALUES (5, 5, CAST(N'2020-10-28T00:00:00.000' AS DateTime), N'Paracetamol 6 tabletas cada 8 horas.')
SET IDENTITY_INSERT [dbo].[Receta] OFF
GO
SET IDENTITY_INSERT [dbo].[Seguimiento] ON 

INSERT [dbo].[Seguimiento] ([SeguimientoId], [HistoriaClinicaId]) VALUES (1, 20)
INSERT [dbo].[Seguimiento] ([SeguimientoId], [HistoriaClinicaId]) VALUES (2, 21)
SET IDENTITY_INSERT [dbo].[Seguimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo] ON 

INSERT [dbo].[Tipo] ([TipoId], [Descripcion]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[Tipo] ([TipoId], [Descripcion]) VALUES (2, N'MEDICO')
INSERT [dbo].[Tipo] ([TipoId], [Descripcion]) VALUES (3, N'PSICOLOGO')
SET IDENTITY_INSERT [dbo].[Tipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Ubicacion] ON 

INSERT [dbo].[Ubicacion] ([UbicacionId], [Lat], [Long], [Calle], [NroCasa], [Referencia], [DistritoId]) VALUES (1, N'-7.163015315271669', N'-78.47008037573688', N'Hurtado Miller', 100, NULL, 8)
INSERT [dbo].[Ubicacion] ([UbicacionId], [Lat], [Long], [Calle], [NroCasa], [Referencia], [DistritoId]) VALUES (2, N'-7.163015315271669', N'-78.47008037573688', N'Hurtado Miller', 100, NULL, 8)
INSERT [dbo].[Ubicacion] ([UbicacionId], [Lat], [Long], [Calle], [NroCasa], [Referencia], [DistritoId]) VALUES (3, N'-7.163192023991637', N'-78.46237707144611', N'Av Atahualpa', 250, NULL, 8)
SET IDENTITY_INSERT [dbo].[Ubicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [TipoId], [DNI], [NombreUsuario], [Nombres], [Apellidos], [Password], [Telefono], [Especialidad]) VALUES (1, 1, N'72312710', N'pedro123', N'Pedro', N'Aquino Saenz', N'123', N'963852741', N'Medicina General')
INSERT [dbo].[Usuario] ([UsuarioId], [TipoId], [DNI], [NombreUsuario], [Nombres], [Apellidos], [Password], [Telefono], [Especialidad]) VALUES (2, 2, N'78542136', N'JorgeCabrea', N'Jorge', N'Cabrera Abanto', N'123', N'963852741', N'Medicina General')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[ContactoPaciente]  WITH CHECK ADD  CONSTRAINT [FK_ContactoPaciente_Seguimiento] FOREIGN KEY([SeguimientoId])
REFERENCES [dbo].[Seguimiento] ([SeguimientoId])
GO
ALTER TABLE [dbo].[ContactoPaciente] CHECK CONSTRAINT [FK_ContactoPaciente_Seguimiento]
GO
ALTER TABLE [dbo].[CuadroClinico]  WITH CHECK ADD  CONSTRAINT [FK_CuadroClinico_HistoriaClinica] FOREIGN KEY([HistoriaClinicaId])
REFERENCES [dbo].[HistoriaClinica] ([HistoriaClinicaId])
GO
ALTER TABLE [dbo].[CuadroClinico] CHECK CONSTRAINT [FK_CuadroClinico_HistoriaClinica]
GO
ALTER TABLE [dbo].[CuadroClinico]  WITH CHECK ADD  CONSTRAINT [FK_CuadroClinico_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[CuadroClinico] CHECK CONSTRAINT [FK_CuadroClinico_Usuario]
GO
ALTER TABLE [dbo].[HistoriaClinica]  WITH CHECK ADD  CONSTRAINT [FK_HistoriaClinica_Persona] FOREIGN KEY([HistoriaClinicaId])
REFERENCES [dbo].[Persona] ([PersonaId])
GO
ALTER TABLE [dbo].[HistoriaClinica] CHECK CONSTRAINT [FK_HistoriaClinica_Persona]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Ubicacion] FOREIGN KEY([PersonaId])
REFERENCES [dbo].[Ubicacion] ([UbicacionId])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Ubicacion]
GO
ALTER TABLE [dbo].[Prueba]  WITH CHECK ADD  CONSTRAINT [FK_Prueba_HistoriaClinica] FOREIGN KEY([HistoriaClinicaId])
REFERENCES [dbo].[HistoriaClinica] ([HistoriaClinicaId])
GO
ALTER TABLE [dbo].[Prueba] CHECK CONSTRAINT [FK_Prueba_HistoriaClinica]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_CuadroClinico] FOREIGN KEY([CuadroClinicoId])
REFERENCES [dbo].[CuadroClinico] ([CuadroClinicoId])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_CuadroClinico]
GO
ALTER TABLE [dbo].[Seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_Seguimiento_HistoriaClinica] FOREIGN KEY([SeguimientoId])
REFERENCES [dbo].[HistoriaClinica] ([HistoriaClinicaId])
GO
ALTER TABLE [dbo].[Seguimiento] CHECK CONSTRAINT [FK_Seguimiento_HistoriaClinica]
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD  CONSTRAINT [FK_Ubicacion_Distrito] FOREIGN KEY([DistritoId])
REFERENCES [dbo].[Distrito] ([DistritoId])
GO
ALTER TABLE [dbo].[Ubicacion] CHECK CONSTRAINT [FK_Ubicacion_Distrito]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Tipo] FOREIGN KEY([TipoId])
REFERENCES [dbo].[Tipo] ([TipoId])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Personal_Tipo]
GO
