
@{
    Layout = null;
    ViewData["Title"] = "Index";
}


@if (Model!=null)
{
    <div class=" row card w-90 mx-3 my-3 peach-gradient">
        <div class="row white my-3 mx-3 rounded">
            <div class="col-xl-4 text-left my-3 mx-3">
                <h3 class="card-title red-text font-weight-bold">Ruta de contagios</h3>
            </div>
            <div class="col-xl-6 text-right my-3 mx-3">
                <a href="/Seguimiento/CreateContacto?seguimientoId=@Model.SeguimientoId" class="btn btn-outline-success"><i class="fas fa-notes-medical"></i> Nuevo Contacto</a>
            </div>
            <div class="col-xl-12 my-3">
                <table class="table">
                    <thead class="danger-color text-white">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Parentesco</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contactos)
                        {
                            <tr>
                                <th scope="row">@item.Nombre  @item.Apellido</th>
                                <td>@item.Parentesco</td>
                                <td>
                                    <a href="/Seguimiento/VerContacto?contactoId=@item.ContactoId" class="btn btn-outline-default">Ver</a>
                                    <a href="/Seguimiento/UpdateContacto?contactoId=@item.ContactoId" class="btn btn-outline-default">Actualizar</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

